/* #2 #colorful #palette is:
      * Background: #F5F5F5 (GREY 100)
      * Primary Text: black

      * Primary color: #3F51B5 (INDIGO)
      * Primary color_text : white
      * Accent color: #CDDC39 (LIME)
      * Accent color_text: black
      */

/*global styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: Roboto, 'Arial', sans-serif;
    margin:0;
    padding:0;
}
body {
    background-color: #F5F5F5;
}

button, strong {
    text-transform: uppercase;
}

/* app-bar */
#app-bar , h1{
    background-color: #3F51B5;
    color: white;
}

/* Channels Lists */
div >ul{
    background-color: gray;
}
div >ul >li {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    list-style-type: none;
    box-sizing: border-box;
    border-bottom: solid 0.1px gray;  
    
}
.current {
    border-left: 4px solid #3F51B5;
    color: #3F51B5;
}
div > ul  * img  {
    vertical-align: middle;
}
/* Tab-Bar */
#tab-bar{
    background-color: #fff;
    color: black; 
    border: none;
    font-size: 13px;
    
}
#tab-bar > button {
    background-color: white;
    width: 33%;
    height: 72px;
    padding:16px;
}
#tab-bar > button > span> img{
    display: block;
    margin:auto;
    padding-bottom:4px;
}
#tab-bar > .selected {
    border-bottom: 4px solid  #3F51B5;
    color :  #3F51B5;
}

/* Chat Messages */
.message{
    width:80%;
    margin-bottom: 8px;
    font-size: medium;
    background-color: #fff;
    padding: 16px;
    margin-left:2.5%;
}
.message > button{
    background-color: #CDDC39;
    color: #000;
    text-transform: uppercase;
}

.message > em {
    /* #2 #font #remaining overrides the default italic appearance of em elements*/
    font-size: larger;
    font-style: normal;
}


.message > h3 > a{
    /* #2 #font #metadata is now medium */
    font-size: medium;
    color :#000;
} 
.own-message{
    margin-left: 17.5%;
}

